body {
    background-color: lightblue;
}

.title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

.to-do-form {
    display: grid;
}

label {
    display: grid;
    grid-template-columns: 100px 1fr;
}

input {
    border-radius: 2px;
    align-self: center;
    background-color: gainsboro;
  }

.to-do-button {
    grid-column: span/2;
    background-color: #3CBC8D;
    color: white;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.to-do-container {
    background-color: white;
    border: 1px black solid;
    width: 30vw;
    padding: 20px;
    margin: 0 10px 0 10px;
}

.desc-input {
    height: 2lh;
}

.new-entries-container {
    border: 1px solid black;
}

.entry {
    width: 90%;
    margin: 10px 10px 10px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
